@model PmsWebApi.Models.Users
@{
    ViewData["Title"] = "NullUsers";
}


    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1> Hi  @Html.DisplayFor(m => m.UserName), </h1>
                </div>
                <div class="x_content">
                    <p> An Email will be sent to you shortly once the admin activates your account </p>
                </div>
            </div>
        </div>
    </div>
                    

                   

